:root {
  --main-theme-color: #7678ED; /* purple */
  --dark-purple: #5F61CE;
  --secondary-theme-color: #2c3e50; /* dark grey */
  --medium-grey: #C4C4C4;
  --orange-red: #FA5926;
  --white: #fff;
  --black: #000;
}

.main {
  min-height: calc(100vh - 73px);
}

.btn-primary-theme {
  color: var(--white);
  background-color: var(--main-theme-color);
}

.btn-primary-theme:hover {
  color: var(--white);
  background-color: var(--dark-purple);
}

.btn-secondary-theme {
  color: var(--secondary-theme-color);
  background-color: var(--white);
  border-color: var(--medium-grey);
}

.text-accent {
  color: var(--orange-red);
}