@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

:root {
  --main-theme-color: #7678ED; /* purple */
  --dark-purple: #5F61CE;
  --shadow-color: 0 0 0 0.25rem rgb(118 120 237 / 25%); /* light purple shadow */
  --secondary-theme-color: #7e868f; /* dark grey */
  --medium-grey: #C4C4C4;
  --orange-red: #FA5926;
  --white: #fff;
  --black: #000;
}

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.main {
  min-height: calc(100vh - 73px);
}

.btn-primary-theme {
  color: var(--white);
  background-color: var(--main-theme-color);
}

.btn-primary-theme:focus {
  border-color: var(--main-theme-color);
  outline: 0;
  box-shadow: var(--shadow-color);
}

.btn-primary-theme:hover {
  color: var(--white);
  background-color: var(--dark-purple);
}

.btn-secondary-theme {
  color: var(--secondary-theme-color);
  background-color: var(--white);
  border-color: var(--medium-grey);
}

.btn-secondary-theme:hover {
  color: var(--main-theme-color);
  background-color: var(--white);
  border-color: var(--main-theme-color);
}

.text-accent {
  color: var(--orange-red);
}

.fw-extra-light {
  font-weight: 200;
}

.fw-medium {
  font-weight: 500;
}

.w-25 {
  width: 25% !important;
}

.form-container {
  max-width: 820px;
}

.form-label {
  font-weight: 600;
}

.form-section {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: 0.25rem;
  border: solid #dee2e6;
  border-width: 1px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}